validations/
__pycache__/
figures/
*.svg
.$*
ec_flux/
*.txt
temp*
*.csv
*.xlsx
calibrations/
calibrated/
ef_calibration/
climate_analog/
validations_UQ/
*.vscode*
*.png  
volatility_Output/
validations_Output/
endpoint_diagnostics_Output/
validations_Output/figs/*.png